// TOP
.hoge {
  background: {
    image: url(../img/background.jpg);
    repeat: no-repeat;
    size: cover;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $baseText;
  h1 {
    font-size: $lgFont;
    text-align: center;
    line-height: $lgFont + 1rem;
  }
}

// 自己紹介
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
  .profile {
    > img {
      @include circle(15rem);
    }
  }
  .description {
    font-size: $smFont;
    line-height: $smFont + .5rem;
    text-align: center;
  }
}

// portfolio
.portfolio {
  .subtitle {
    text-align: center;
  }
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      padding: 2rem;
      img {
        height: 15rem;
        width: 15rem;
      }
    }
  }
}