$baseBg: #000;
$baseText: #fff;

body {
  font-size: 62.5%;
}

$smFont: 1rem;
$mdFont: 2rem;
$lgFont: 3rem;

.mb {
  margin-bottom: 2rem;
}

@mixin container($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding: $top $right $bottom $left;
}

.container {
  @include container(2rem, 5%, 2rem, 5%);
}

@mixin circle($value) {
  border-radius: 50%;
  height: $value;
  width: $value;
}